src/eBayEnterprise/RetailOrderManagement/Schemas/events/1.0/events/Order-Rejected-Event-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://api.gsicommerce.com/schema/checkout/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/checkout/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="${project.version}">
  <xsd:include schemaLocation="../../../checkout/1.0/Checkout-Datatypes-1.0.xsd"/>
  <xsd:include schemaLocation="../../../checkout/1.0/Order-Datatypes-Common-1.0.xsd"/>
  <xsd:element name="OrderRejected" type="OrderRejectedType" nillable="false"/>
  <xsd:complexType name="OrderRejectedType">
    <xsd:sequence>
      <xsd:element name="Reason" type="OrderRejectedReasonType">
			</xsd:element>
    </xsd:sequence>
    <xsd:attribute name="customerOrderId" type="OrderId" use="optional">
      <xsd:annotation>
        <xsd:documentation>The order id generated by the webstore.
                    Allowable Values: Text string
                    Required: No
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="storeId" type="xsd:string"/>
    <xsd:attribute name="orderCreateTimestamp" type="xsd:dateTime"/>
  </xsd:complexType>
  <xsd:complexType name="OrderRejectedReasonType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="code" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
