tests/eBayEnterprise/RetailOrderManagement/Payload/Validator/Fixtures/TestSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="Test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StringElement" type="xs:string"/>
                <xs:element name="IntElement" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
